* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    background-color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.top {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.search {
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
    padding: 1.5em 1.5em 1.5em 5em;
}
.search > input {
    border: none;
    border-bottom: 1px solid rgb(88, 88, 88);
    height: 40px;
    width: 80%;
    font-size: 1rem;
    background-color: #fff;
}
input:focus {
    outline: none;
}
.title {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
}
.title:hover {
    cursor: pointer;
}
.cart {
    height: 100%;
    width: 30%;
    padding: 1.5em 5em 1.5em 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart-icon {
    padding-right: 0.3em;
}
.cart-icon:hover {
    cursor: pointer;
}
.cart-sum {
    padding-right: 0.2em;
}
.cart-price {
    font-weight: bold;
}
nav {
    height: 50px;
    background-color: rgb(185, 185, 185);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey
}
main {
    display: flex;
    max-width: 1200px;
    min-height: 800px;
    margin: 0 auto;
    padding-bottom: 2px;
}
aside {
    min-height: 500px;
    width: 20%;
    background-color: azure;
}
article {
    min-height: 500px;
    height: 100%;
    width: 80%;
}
.pages {
    width: 100%;
    padding: 1em 4em;
    display: flex;
    justify-content: space-between;
}
.list-sort {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
}
.list-sort > p {
    padding-right: 0.5em;
}
.list-sort > select {
    font-size: 0.75rem;
    padding: 0.4em 0.6em;
    appearance: none;
    border-radius: 10px;
    background-image: linear-gradient(white, rgb(221, 221, 221) 80%);
}
.list-sort > select:hover {
    cursor: pointer;
}
.list-pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}
.page-number {
    height: 30px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-number:hover {
    cursor: pointer;
}
.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.game-item {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    padding: 1em 0;
    transition: all 0.2s ease;
}
.game-item:hover {
    border: 1px solid rgb(214, 213, 213);
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 15px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px -7px rgba(66, 68, 90, 1);
}
.game-item > img {
    width: 60%;
    margin-bottom: 0.6em;
}
.game-item > img:hover {
    cursor: pointer;
}
.game-title {
    font-weight: bold;
    padding-bottom: 0.3em;
}
.game-title:hover {
    cursor: pointer;
}
.game-price {
    padding-bottom: 0.7em;
}
.add-to-cart {
    padding: 0.8em;
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(180, 180, 180);
    transition: all 0.15s ease;
    border-radius: 5px;
}
.add-to-cart:hover {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
footer {
    height: 200px;
    width: 100%;
    background-color: rgb(185, 185, 185);
    border-top: 1px solid grey;
}