/* --- GENERAL --- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding: env(safe-area-inset);
    letter-spacing: 0.8px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    background-color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
a {
    text-decoration: none;
    color: black;
}

/* --- HEADER --- */

.top {
    display: flex;
    justify-content: space-between;
    height: 100px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.search {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
    padding: 1.5em 0 1.5em 5em;
}
.search > input {
    border: none;
    border-bottom: 1px solid rgb(88, 88, 88);
    height: 40px;
    min-width: 160px;
    max-width: 100%;
    font-size: 1rem;
    background-color: #fff;
}
input:focus {
    outline: none;
}
.search i {
    height: 40px;
    padding: 0.5em;
    border-bottom: 1px solid rgb(88, 88, 88);
}
.search i:hover {
    cursor: pointer;
}
.title {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.3rem;
    letter-spacing: 0.4rem;
}
.title:hover {
    cursor: pointer;
}
.cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 20%;
    padding: 1.5em 5em 1.5em 0;
}
.cart-price-wrapper {
    height: 30px;
    display: flex;
    align-items: center;
}
.cart-price-wrapper:hover {
    cursor: pointer;
}
.cart-icon {
    padding-right: 0.3em;
}
.cart-sum {
    padding-right: 0.2em;
}
.cart-price {
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* --- NAV --- */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid grey;
    background-image: linear-gradient(rgb(230, 230, 230), 20%,  #fff);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
nav p {
    padding: 0.5em 2em;
    transition: all 0.3s ease;
    border-radius: 23px;    
}
nav p:hover {
    font-size: 1.05rem;
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}

/* --- FOOTER --- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #454545;
    color: rgb(176, 176, 176);
    border-top: 1px solid grey;
}